{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="description" content="Story 8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="HTML,CSS">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script>
    <script src="{% static 'js/books.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/stylestory8.css' %}">

    <title>Story 8</title>

</head>

<body>
    <div class="story8-page">
        <br/>
        <h1>I'm searching for this book: </h1>
        <div class="form-group">
            <div class="col-sm-6 offset-sm-3">
                <input id="search" class="form-control" type="text" placeholder="Search books">
            </div>
        </div>
    </div>

    <br/><br/>
    <ol id="result">

    </ol>

</body>

</html> 