{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stylestory6.css' %}">
{% endblock %}

{% block content %}
<div class="center">
	<h2 style="text-align: center;">{{ title }}</h2>
	<form action="{% url 'story6:add_activity' %}" method="POST">
		{% csrf_token %}
		{% for field in activity_form.visible_fields %}
			<div class="form-group">
                <div class="col-sm-6 offset-sm-3">
                    <h5>{{field.label_tag}} {{field}}</h5>
                </div>
            </div>
		{% endfor %}
		<div style="text-align: center"><button type="submit">Submit</button></div>
	</form>
</div>
{% endblock %}