{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stylestory6.css' %}">
{% endblock %}

{% block content %}
{% if activity_list %}
<div class="flex-wrap">
	{% for activity_item in activity_list %}
		<div class="card">
			<h2>{{ activity_item.activity.activity_name }}</h2>
			<br/>
			<br/>
			
			<h3>Peserta:</h3>
			<div class="participants">
				{% if activity_item.participants.count %}
				{% for participant in activity_item.participants %}
					<li>{{ participant.participant_name }}</li>
				{% endfor %}
				{% else %}
				-
				{% endif %}
			</div>
			<div class="center">
				<button><a href="{% url 'story6:add_participant' activity_id=activity_item.activity.id %}">Tambah peserta!</a></button>
			</div>
		</div>
	{% endfor %}
</div>
<div style="display: flex; justify-content: center;">
	<button><a href="{% url 'story6:add_activity' %}">Tambah Kegiatan!</a></button>
</div>
{% else %}
<div class="centered">
	<div class="column">
		<div class="empty">Tambah kegiatan sekarang!</div>
		<button><a href="{% url 'story6:add_activity' %}">Tambah!</a></button>
	</div>
</div>
{% endif %}
{% endblock %}