* {
    font-family: Quicksand;
}

h2 {
    font-family: Quicksand;
}

.squared {
    width: 330px;
    height: 360px;
    border-radius: 10px;
    border: 2px solid #173f5f;
}

.error {
    font-size: 10px;
}

.centered {
    margin: 0 auto;
  	top: 35%;
  	left: 50%;
  	transform: translate(-50%, -50%);
  	position: absolute;
}
