.participants {
  height: 150px;
  overflow-y: scroll;
}

.card {
  width: 350px;
  height: 350px;
  background-color: #c3d2d5;
  margin: 15px;
  border-radius: 50px;
  text-align: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 7%;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.empty {
  text-align: center;
  font-size: 30px;
}

button {
  width: 150px;
  text-align: center;
  justify-content: center;
}

html, body {
  height: 100%;
}

.centered {
  text-align: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.center {
  text-align: center;
  justify-content: center;
}

