.homepage {
  text-align: center;
  margin: 0 auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: Livvic;
  font-size: 30px;
}

.hello {
  text-align: center;
  margin: 0 auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: Livvic;
  font-size: 30px;
}

.not-authenticated {
    text-align: center;
  margin: 0 auto;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  font-family: Livvic;
  font-size: 30px;
}

button {
  border-radius: 50px;
  width: 200px;
  height: 50px;
  font-size: 18px;
  background-color: #8da9c4;
  color: #ffffff;
  border: #8da9c4;
  text-decoration: none;
}

button a {
  color: white;
  font-family: Livvic;
  text-decoration: none;
}