html, body {
    height: 100%;
}

.page { 
	background: -webkit-linear-gradient(to left, #fffcdc, #d9a7c7);
	background: linear-gradient(to left, #fffcdc, #d9a7c7); 
	height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

h1 {
	text-align: center;
	font-family: Kurale; 
	font-size: 33px; 
	padding-top: 2rem;
}

.accordion {
    max-width: 560px;
    margin: 0 auto;
    border-top: 1px solid #b3b3b3;
}

button {
	border-color: #fffcdc;
	background: #fffcdc;
	font-family: Kurale;
	font-size: 17px;
	float: right;
	flex-direction: row;
	margin-top: -8%;
}

button.up {
	width: 40px;
	height: 30px;
	margin-right: 18%;
}

button.down {
	width: 60px;
	height: 30px;
	margin-right: 6.5%;
}

.accordion li {
    border-bottom: 1px solid #b3b3b3;
    position: relative;
    list-style-type: none;
}

.accordion li p {
    display: none;
    padding: 10px 25px 30px;
    list-style-type: none;
}

.accordion a {
    width: 100%;
    display: block;
    cursor: pointer;
    font-weight: 600;
    line-height: 3;
    text-indent: 15px;
    user-select: none;
    font-family: Kurale; 
    font-size: 20px; 
    background-color: #BDA0BC; 
    border-color: #BDA0BC;
}

.accordion a:after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #4a6e78;
    border-bottom: 1px solid #4a6e78;
    position: absolute;
    right: 10px;
    content: " ";
    top: 17px;
    transform: rotate(-45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.accordion p {
    line-height: 1.5;
    padding: 10px;
    font-family: 'Tenali Ramakrishna'; 
    font-size: 20.4px;
}

a.active:after {
    transform: rotate(45deg);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 535px) {
    h1 {
        font-size: 25px;
    }

    .accordion a {
    	font-size: 15px;
    }

    .accordion p {
    	font-size: 17px;
    }

    button.up {
    	margin-right: 20%;
    }

    button {
    	font-size: 15px;
    }
}

@media screen and (max-width: 455px) {
	button.up {
		margin-right: 22%;
	}

	button {
		font-size: 13px;
	}
}

@media screen and (max-width: 400px) {
	button.up {
		width: 35px;
		height: 25px;
	}

	button.down {
		width: 55px;
		height: 25px;
	}

	button {
		font-size: 11px;
	}
}

@media screen and (max-width: 380px) {
	button.up {
		width: 30px;
		height: 20px;
	}

	button.down {
		width: 50px;
		height: 20px;
	}

	button {
		font-size: 10px;
	}
}

@media screen and (max-width: 375px) {
	.accordion a {
		font-size: 14px;
	}
}

@media screen and (max-width: 350px) {
	button.up {
		width: 30px;
		height: 20px;
	}

	button.down {
		width: 50px;
		height: 20px;
	}

	button {
		font-size: 6px;
	}

	.accordion a {
		font-size: 12px;
	}
}

@media screen and (max-width: 330px) {
	button {
		display: none;
	}

	.accordion a {
		font-size: 15px;
	}
}

@media screen and (max-width: 280px) {
	h1 {
		font-size: 23px;
	}

	.accordion a {
		font-size: 13px;
	}

	.accordion p {
		font-size: 15px;
	}
}

@media screen and (max-width: 245px) {
	h1 {
		font-size: 21px;
	}

	.accordion a {
		font-size: 11px;
	}

	.accordion p {
		font-size: 13px;
	}
}