{% extends 'base_story_7.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stylestory7.css' %}">
{% endblock %}

{% block content %}

<div class="page">

	<h1>Hello!<br/>Welcome to my profile :)</h1>

	<div class="accordion" id="script">

		<div id="activity" class="set">
			<li>
				<a>Aktivitas</a>
				<div>
					<button class="up"><b>Up</b></button>
					<button class="down"><b>Down</b></button>
				</div>
				<p>
					<b>- Mahasiswi SI UI 2019</b><br/>
					<b>- Member Consulting SIG SISTEM Fasilkom UI 2020</b><br/>
					<b>- Staff Akademis PMB Fasilkom UI 2020</b>
				</p>
			</li>
		</div>

		<div id="experience" class="set">
			<li>
				<a>Pengalaman Organisasi/Kepanitiaan</a>
				<div>
					<button class="up"><b>Up</b></button>
					<button class="down"><b>Down</b></button>
				</div>
				<p>
					<b>- Member Consulting SIG SISTEM Fasilkom UI 2020</b><br/>
					<b>- Staff Akademis PMB Fasilkom UI 2020</b><br/>
					<b>- Staff Ticketing UIGTC 2020</b><br/>
					<b>- Panitia Natal PO Fasilkom UI 2019</b><br/>
					<b>- Panitia Paskah PO Fasilkom UI 2020</b>
				</p>
			</li>
		</div>

		<div id="achievement" class="set">
			<li>
				<a>Prestasi</a>
				<div>
					<button class="up"><b>Up</b></button>
					<button class="down"><b>Down</b></button>
				</div>
				<p>
					<b>- Medali Perunggu Singapore and Asian Schools Math Olympiad 2016</b><br/>
					<b>- Juara 3 Mathematics Battle Challenge GS Universitas Padjadjaran 2017</b><br/>
					<b>- Juara 1 LCT Matematika Universitas Swadaya Gunung Jati 2018</b><br/>
					<b>- Lulus dengan Predikat Distinction Ujian Piano ABRSM Grade 5 2013</b><br/>
					<b>- Juara 1 Ens Piano Collection 2013 Kategori A</b><br/>
				</p>
			</li>
		</div>

		<div id="education" class="set">
			<li>
				<a>Riwayat Pendidikan</a>
				<div>
					<button class="up"><b>Up</b></button>
					<button class="down"><b>Down</b></button>
				</div>
				<p>
					<b>Universitas Indonesia (2019-sekarang)<br/></b>
					<b>SMA Santa Maria 1 Cirebon (2016-2019)<br/></b>
					<b>SMP Santa Maria Cirebon (2013-2016)<br/></b>
					<b>SDK BPK Penabur Cirebon (2007-2013)<br/></b>
					<b>TK Permata Bunda Cirebon (2005-2007)</b>
				</p>
			</li>
		</div>
	</div>
</div>

<script src='https://code.jquery.com/jquery-3.1.1.min.js'></script>
<script src="{% static 'js/script.js' %}"></script>

{% endblock %}


