{% extends 'base_story_9.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/stylestory9.css' %}">
{% endblock %}

{% block content %}

{% if request.session.name %}
<div class="background">
    <div class="homepage">
        <h1><b>Welcome, {{ request.session.name }} :) </b></h1>
        <h3><b>Have a nice day and stay safe!</b></h3>
        <form action="{% url 'Story9:logout' %}" method="POST">
            {% csrf_token %}
            <div style="margin-top: 1rem; display: flex; justify-content: center;">
                <button name="logout" type="submit" value="Log Out"><b>Log Out</b></button> 
        </form> 
    </div>

    {% else %}
    <div class="not-authenticated">
        <b>You're not authenticated. Please Log In. <br/>
        If you don't have an account yet, click Sign Up.</b><br/>
        <div style="margin-top: 1rem;">
            <button><a href="{% url 'Story9:login' %}"><b>Log In</b></a></button>
            <button><a href="{% url 'Story9:signup' %}"><b>Sign Up</b></a></button>
        </div>
    </div>
{% endif %}

<script>
    $("input").addClass("form-control");
</script>

{% endblock %}