{% extends 'base_story_9.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/login_story9.css' %}">
{% endblock %}

{% block content %}

<div class="centered">
    <div style="margin-top: 5rem;">
        <h2 style="display: flex; justify-content: center; color: #20639b;"><b>L &nbsp; O &nbsp; G &nbsp; I &nbsp; N</b></h2>
        <form class="site-form" action="{% url 'Story9:login' %}" method="POST">
            <div style="display: flex; justify-content: center;">
                <div class="squared">
                    <div style="padding-top: 2rem;">
                        <div class="form-group">
                            {% csrf_token %}
                            {% for field in form %}
                            <div style="display: flex; justify-content: center;">
                                <div class="pair">
                                    {{field.label_tag}}
                                    <div class="col-sm-12">
                                        {{field}}
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <div class="signup-button">
                                <input type="submit" value="Log In">
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; font-size: 12px; padding-top: 0.5rem;">
                            Don't have an account yet?&nbsp; 
                            <a href="{% url 'Story9:signup' %}">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div style="display: flex; justify-content: center; padding-top: 0.5rem;">
            <div class="error">
                {{errors}}
            </div>
        </div>
    </div>
</div>

<script>
    $("input").addClass("form-control");
</script>

{% endblock %}
